
/* Start Global Rules*/
* {
  box-sizing: border-box;
}

body {
    font-family: "Work Sans", sans-serif;
}

:root {
    --mainColor:rgb(154, 40, 189);
    --iconSize: 30px;
    --Secondary-color: rgb(12, 12, 83);
    --section-padding: 60px;
    --section-color: #f6f6f6;
}
.container {

    padding-left: 15px; 
    padding-right: 15px; 
    margin-left: auto;
    margin-right: auto;
}


/*Small*/
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
   
}

/*Medium*/
@media (min-width: 992px) {
    .container {
        width: 960px;
    }

}

/*Large*/
@media (min-width: 1200px) { 
    .container {
        width: 1150px;
    }
}

/*End Global Rules*/


/* start Component */
.special-heading {
    font-size: 100px;
    color: #ebeced;
    letter-spacing: -5px;
    text-align: center;
    margin:0;
    font-weight: 800px;
}

.special-heading + p {
    text-align: center;
    color: #797979;
    margin-top: -30px;
    font-size: 20px;

}

@media (max-width: 767px)
{
    .special-heading {
        font-size: 60px;
    }
    .special-heading + p{
        margin-top: -20px;
        font-size: 10px;
    }
   
}
/* end Component */

/*Start Header*/
.header {
    padding: 20px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    font-size: 30px;
    color: var(--mainColor);
}

.header .links {
    position: relative;
}

.header .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.header .links .icon span {
    background-color: #333;
    height: 2px;
    margin-bottom: 5px;
   
}

.header .links:hover .icon span:nth-child(2) {
    width: 100%;
}

.header .links .icon span:first-child {
    width: 100%;
}

.header .links .icon span:nth-child(2)
{
    width: 60%;
    transition-duration: .3s;
}

.header .links .icon span:last-child {
    width: 100%;
}

.header .links ul {
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #eee;
    position: absolute;
    right: 0;
    min-width: 200px;
    top: calc(100% + 15px);
    display: none;
    z-index: 1;
}

.header .links:hover ul {
    display: block;
}

.header .links ul::before {
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #eee transparent;
    position: absolute;
    top: -20px;
    right: 5px;
}

.header .links ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    transition: .3s;
}

.header .links ul li a:hover {
    padding-left: 25px;
    font-weight: bold;
    color: var(--mainColor);
}

.header .links ul li:not(li:last-child) a {
    border-bottom: 1px solid #ddd;
}


/*End Header*/


/* start Landing Section */

.landing {
    background-image: url(../images/pexels-photo-355770.jpg);
    background-size: cover;
    height: calc(100vh - 74.5px);
    position: relative;
}

.landing .text-intro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    line-height: 1.8;
    width: 320px;
    max-width: 100%;

}

.landing .text-intro h1 {
    margin: 0;
    font-size: 50px;
    letter-spacing: -2px;
    font-weight: bold;
    color: var(--mainColor);
}

.landing .text-intro p {
    font-size: 19px;
    line-height: 1.8;
}

/* End Landing Section */

/* start features section */
.features {
    background-color: var(--section-color);
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.features .container {
    
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 20px;
}

.features .feat {
    text-align: center;
    padding: 20px;
}

.features .feat i {
    font-size: var(--iconSize);
    color: var(--mainColor);
}

.features .feat h3 {
    font-weight: 800px;
    margin: 30px 0;
}

.features .feat p {
    font-size: 17px;
    line-height: 1.8;
    color: #777;
}
/* and features section */

/* start service */
.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding); 
}

.services .service-content {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 30px;
    margin-top: 100px;
}

.services .service-content .srv {
    display: flex;
    margin-bottom: 30px;
}

@media (max-width: 767px)
{
    .services .service-content  .srv {
        flex-direction: column;
        text-align: center;
        
    }

}

.services .service-content .srv i {
    font-size: var(--iconSize);
    color: var(--mainColor);
}

.services .service-content .srv .text {
    margin-left: 40px; 

}

@media (max-width: 767px)
{
    .services .service-content .srv .text {
        margin-left: 0; 
    }
}

.services .service-content .srv .text h3 {
    margin: 0 0 20px;
}


@media (max-width: 767px)
{
    .services .service-content .srv .text h3 {
       margin-top: 20px;
    }
}

.services .service-content  .text p {
    font-weight: 300;
    color: #777;
    line-height: 1.6  ;
}

.services .service-content  .image {
   position: relative;
   text-align: center;
}

.services .service-content  .image img {
   height: 400px;
   width: 20p0x;
   z-index: 1;
}

.services .service-content .image::after {
    content: "";
    background-color: rgb(12, 12, 83);
    width: 100px;
    height: calc(100% + 50px);
    top: -25px;
    right: 0;
    position: absolute;
    z-index: -1
}

@media (max-width:1199px){
    .services .service-content  .image {
        display: none;
    }
}

/* End Services */


/* start Portfolio */

.portfolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding); 
    background-color: var(--section-color);
}

.portfolio .Portfolio-content .card {
    background-color: white;
}

.portfolio .Portfolio-content .card  img {
    max-width: 100%;

}

.portfolio .Portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 30px;
    margin-top: 80px;
}

.portfolio .Portfolio-content .card .description {
    padding: 20px;
}

.portfolio .Portfolio-content .card h3 {
    margin: 0;
}

.portfolio .Portfolio-content .card p {
    color: #777;
    line-height: 1.8;
    margin-bottom: 0;
}

@media (max-width:767px)
{
    .portfolio .Portfolio-content .card .description {
        text-align: center;
    }
}

/* End Portfolio */

/* Start About Section */
.about-section {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.about-section .about-content .about-image {
    width: 201px;
    height: 251px;
    position: relative;
}

@media (max-width:991px) {
    .about-section .about-content .about-image {
        margin: 0 auto 30px;
    }
}
.about-section .about-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 80px;
}

.about-section .about-content .about-image:after {
    content: "";
    position: absolute;
    background-color: #ebeced;
    height: calc(100% + 60px);
    width: 60px;
    top: -30px;
    left: -8px;
    z-index: -1;
}

.about-section .about-content .about-image:before {
    content: "";
    position: absolute;
    height: 70%;
    width: 60px;
    border-left: 60px solid var(--mainColor);
    border-bottom: 60px solid var(--mainColor);
    right: -90px;
    top: -20px;
    z-index: -1;
}


@media (max-width:991px)
{
    .about-section .about-content .about-image:before ,
    .about-section .about-content .about-image:after
    {
        display: none;
    } 

}

.about-section .about-content .info-about {
    /*width and height flexible avec la direction du flex*/
    flex-basis: calc(100% - 500px);
}


 .about-section .about-content .info-about p:first-of-type {
    font-weight: bold;
    margin-bottom: 50px;
    line-height: 2;
}

.about-section .about-content .info-about p:last-of-type {
    line-height: 2;
    color: #777;
}

 .about-section .about-content .info-about hr {
    width: 50%;
    display: inline-block;
    /*il s'affiche car user agent donne une bordure par defaut a hr*/
    border-color: var(--mainColor);
}

@media (max-width:991px)
{
    .about-section .about-content {
        flex-direction: column;
        text-align: center;
    } 
}




/* End About Section */
